<%- include ('partials/header') -%>
<h1>You fell int love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>RUSTY IS THE BEST</p>
<% } %>

<%- include ('partials/footer') -%>